@import "tailwindcss";

@theme inline {
  /* font */
  --font-sans: "Lato", ui-sans-serif, system-ui;

  /*  Custom breakpoints */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  /* colors */
  --color-primary-100: #0a5e8d;
  --color-primary-200: #7eb0cb;
}

